@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap');

@layer base {
  body{
    @apply font-[Bai+Jamjuree]
  }
  li{
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
}

.content-div:hover{
  background-image: linear-gradient(to right, #4e9f3d, #1E5128, #191a19)!important;
}

.bg-img{
  background-image: url(./assets/Esp.png);
  background-size: 23.5px 25px;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-image: url(./assets/kisspng-england-flag-of-gbrtn.jpg);
  background-size: 23.5px 25px;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px rgb(0, 0, 0); 
  /* border-radius: 10px; */
  background: black;
}
 
::-webkit-scrollbar-thumb {
  background: #191919; 
  border-radius: 8px;
}